<ion-header translucent>
  <ion-toolbar>
    <ion-title>Confirmar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="confirm()">  <!-- así pulsar Enter dentro del form dispara confirm() -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        #passwordInput
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        autofocus
        (keydown.enter)="confirm()"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">
      Confirmar
    </ion-button>
  </form>
</ion-content>
