.lbPermis{
  font-weight: bold;
  font-size: large;
}
/* --- FAB --- */
ion-fab-button {
  --background: #fcef05;
  --color: #000000;
  --box-shadow: 0 8px 20px rgba(212, 255, 0, 0.338);
  --border-radius: 50%;
}
.sub-title{
  font-size: 30px;
  margin-bottom: 20px;
  color: #283593 ;
  text-align: center;
  font-weight: 700;
}
